.place__title {
  margin: 0 16px 32px;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  vertical-align: top;
}

@media (min-width: 768px) {
  .place__title {
    max-width: 330px;
    margin: 0;
    font-size: 42px;
    grid-area: title;
  }
}

@media (min-width: 1024px) {
  .place__title {
    max-width: 100%;
    font-size: 72px;
    line-height: 1.05;
  }
}
