@font-face {
  font-family: "Inter";
  src:
    url(fonts/Inter/Inter-Regular.woff2),
    url(fonts/Inter/Inter-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src:
    url(fonts/Inter/Inter-Bold.woff2),
    url(fonts/Inter/Inter-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src:
    url(fonts/Inter/Inter-Black.woff2),
    url(fonts/Inter/Inter-Black.woff);
  font-weight: 900;
}


/* body {
  width: 1024px;
} */

.page {
  font-family: Inter, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #2A2C2F;

}

.header {
  display: flex;
  align-items: center;
  padding: 16px 16px 48px 16px;
  box-sizing: border-box;
}

.header__logo {
  background-image: url(images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 42px;
  flex-basis: 100%;

}

.header__lang-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
  text-align: right;

}

.header__lang-link:first-of-type {
  margin-right: 18px;
}

.header__lang-link_underlined {
  border-bottom: 2px solid #FFFFFF;
}

.lead {
  box-sizing: border-box;
  padding-bottom: 64px;
}

.lead__title {
  margin: 0 16px 16px;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;
  text-align: center;

}

.lead__subtitle {
  margin: 0 16px 40px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
}

.lead__image {
  display: block;
  max-width: 100%;

}

.lead__caption {
  margin: 8px 0 0 16px;
  font-size: 10px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}

.intro {
  box-sizing: border-box;
  padding: 0 16px 64px;
}

.intro__title {
  margin: 0 0 40px;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;

}

.intro__text {
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;

}

.intro__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  font-style: normal;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  padding: 0 16px 64px;
  grid-gap: 12px;
}

.photo-grid__item {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.places {}

.place {
  padding-bottom: 50px;
}

.place:last-of-type {
  padding-bottom: 66px;
}

.place__title {
  margin: 0 16px 32px;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  vertical-align: top;
}

.place__website {}

.place__url-heading {
  margin: 0 16px 12px;
  color: #AAAAAA;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  vertical-align: top;
  letter-spacing: 2px;

}

.place__link {
  text-decoration: none;
  display: inline-block;
  margin: 0 16px 32px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  vertical-align: top;
  border-bottom: 2px solid #FFFFFF;
}

.place__image {
  margin-bottom: 31px;
  display: block;
  width: 100%;
  /* max-width: 100%;
  max-height: 100%; */
}

.place__paragraph {
  margin: 0 16px 0;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 400;
  vertical-align: top;


}

.place__paragraph p {
  margin: 0 0 25px;
}

.place__paragraph p:last-of-type {
  margin-bottom: 0;
}

.cover {
  /* margin: 0 auto;  Для 1280*/
  background-image: url(images/cover-trains.jpg);
  background-size: cover;
  width: 100%;
  /* max-width: 1184px; */
  height: 62.5vw;
  /* height: 640px; */
  /* max-height: 740px; */

}

.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(42, 44, 47, .3);
}


.cover__title {
  margin: 0 16px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  text-align: center;
  vertical-align: top;


}

.cover__subtitle {
  /* max-width: 70%; */
  margin: 0 16px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}

.footer {
  padding: 64px 0 0 16px;
  display: flex;
  flex-direction: column;

}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  vertical-align: top;
  text-decoration: none;
  color: #FFFFFF;

}

.footer__copyright {
  margin: 0;
  padding: 0 0 24px;
  font-size: 14px;
  line-height: 1;
  vertical-align: top;
}

@media (min-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }

  .header__logo {
    height: 52px;
  }

  .header__lang-link {
    margin-top: 14px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
  }

  .lead {
    padding-bottom: 88px;
  }

  .lead__title {
    margin: 0 24px 32px;
    font-size: 96px;
    line-height: 1.04
  }

  .lead__subtitle {
    margin: 0 64px 56px;
    font-size: 30px;
    line-height: 1.2;
  }

  .lead__caption {
    margin: 8px 0 0 24px;
  }

  .intro {
    padding: 0 24px 88px;
  }

  .intro__title {
    margin: 0 0 40px;
    font-size: 54px;
    line-height: 1.07;
  }

  .intro__text {
    margin: 0 0 33px;
  }

  .photo-grid {
    padding: 0 24px 88px;
    grid-gap: 16px;
  }


  .places {
    padding: 0 24px;
  }

  .place {
    padding-bottom: 72px;
    display: grid;
    grid-template-areas:
      "title website"
      "image paragraph";
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 48px;
  }

  .place:last-of-type {
    padding-bottom: 90px;
  }

  .place__title {
    max-width: 330px;
    margin: 0;
    font-size: 42px;

    grid-area: title;
  }

  .place__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .place__url-heading {
    margin: 0 0 12px;

  }

  .place__link {
    margin: 0;
  }

  .place__link:hover {
    opacity: 80%;
  }

  .place__image {
    margin-bottom: 0;
    display: block;
    grid-area: image;
  }

  .place__paragraph {
    margin: 0;
    grid-area: paragraph;
  }

  .cover__overlay {
    gap: 32px;
  }

  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
  }

  .cover__title {
    margin: 0 104px;
    font-size: 72px;
    line-height: 1.056;
  }

  .cover__subtitle {
    margin: 0 204px;
    font-size: 18px;
    line-height: 1.22;
  }

  .footer {
    padding: 86px 26px 24px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links {
    flex-direction: row;
  }

  .footer__link {
    margin-right: 18px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.125;
  }


  .footer__link:hover {
    opacity: 80%;
  }

  .footer__copyright {
    padding: 0;
    margin: 0;
    line-height: 1.142;
  }

}

@media (min-width: 1024px) {
  .header {
    padding: 28px 48px 48px;
  }


  .lead {
    padding-bottom: 92px;
  }

  .lead__title {
    margin: 0 152px 32px;
  }

  .lead__subtitle {
    margin: 0 192px 56px;
  }

  .lead__image {
    box-sizing: border-box;
    padding: 0 48px;

  }

  .lead__caption {
    margin: 8px 0 0 48px;
  }

  .intro {
    padding: 0 0 92px 48px;
  }

  .intro__title {
    margin: 0 286px 40px 0;
  }

  .intro__text {
    margin: 0 286px 33px 0;
  }

  .photo-grid {
    padding: 0 48px 92px;
    grid-gap: 14px;
  }


  .places {
    padding: 0 48px;
  }

  .place {
    padding-bottom: 80px;
    grid-template-columns: 440px 1fr;
    column-gap: 32px;

  }

  .place:last-of-type {
    padding-bottom: 92px;
  }

  .place__title {
    max-width: 100%;
    margin: 0;
    font-size: 72px;
    line-height: 1.05;
  }


  .place__paragraph {
    font-size: 18px;
    line-height: 1.611;
    padding-bottom: 11px;
  }

  .place__url-heading {
    line-height: 1.7;
    margin: 0;
  }

  .cover__overlay {
    gap: 32px;
  }

  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
  }

  .cover__title {
    margin: 0 232px;
  }

  .cover__subtitle {
    margin: 0 332px;
  }

  .footer {
    padding: 92px 48px 24px;
  }


  .footer__copyright {
    line-height: 1.142;
  }

}


