.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media (min-width: 1280px) {
  .cover{
    margin: 0 48px; 
  }
}
