.cover__overlay {
  display: block;
  text-decoration: none;
  padding: 33px 16px;
  background-color: rgba(42, 44, 47, .3);
}

@media (min-width: 768px) {
  .cover__overlay {
    padding: 115px 0;
    transition: background-color .3s ease-in-out;
  }

  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
  }
}

@media (min-width: 1024px) {
  .cover__overlay {
    padding: 195px 0;
  }
}

@media (min-width: 1280px) {
  .cover__overlay {
    padding: 245px 0;
  }
}


