.place {
  padding-bottom: 50px;
}

.place:last-of-type {
  padding-bottom: 66px;
}

@media (min-width: 768px) {
  .place {
    padding-bottom: 72px;
    display: grid;
    grid-template-areas:
      "title website"
      "image paragraph";
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 48px;
  }

  .place:last-of-type {
    padding-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  .place {
    padding-bottom: 80px;
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }

  .place:last-of-type {
    padding-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
  }
}
